@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:10px;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background: url('../images/pharmbackgroundtiny.png') no-repeat bottom right fixed; 
    overflow-x:hidden;   
}


/*-----------------------------------------Nav*/
.navbar-nav a {
    font-size: 2.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #219739;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: whitesmoke;
}
.navbar-toggler {
    right: 15px;
    position: absolute;
    border:none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler-icon{
    font-size: 2rem; 
}

.navbar-nav > li{
  padding: 0 1.5rem;
}
/*----------------------------------------Video*/
.container-fluid {
    padding:0;
}
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: -3rem;
    overflow: hidden;
    z-index: -1;
    
}
.video-container video {
    width: 100%;
    height: auto;
    padding:0;
    margin:0;
    position: absolute;
    
}

/*------------------------------------------------------------------Home*/
 






/*-----------------------------------------------------------------Jumbotron*/


.callout-container {
    height: 100vh;
    background: url('../images/greenjspiecelow.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    display: flex;
    align-items: left;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.content-container {
    
    padding-top: 5rem;
    padding-bottom: 7.5rem;
}
.jumbotron {
    background: rgba(33, 151, 57, 0.7); 

    margin-top:25rem;
    width:100%;
}
.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron-header {
    font-size: 10rem;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 2.5rem 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.urgent {
    color:red;
    font-size: 2rem;
}

.btn-reg {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: #fafafa;
    background-color: #219739;
    border: 0.2rem solid #fafafa;
    border-radius: 2rem;
    height: 4rem;
    width: 25rem;
    padding: 0;
    opacity:0.7;
}

.btn-reg:hover {
    background-color: #212529;
    color: #219739;
    border: 0.2rem solid #219739;
}

.schedule h2{
    font-size: 2rem;
    color:#fafafa;
}



/*-----------------------------------------------------Cards*/


.success-start h2{
    font-size:5rem;
    color:#219739;
    text-align:center;
    background-color:transparent;
    padding-top: 4rem;
    padding-bottom: 0;
    width:auto;
    height:auto;
}

.success-start p {
    font-size:3rem;
    color:#219739;
    text-align:center;
    background-color:transparent;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width:auto;
    height:auto;
}

.success-download h2{
    font-size:3rem;
    color:#219739;
    text-align:center;
    background-color:transparent;
    padding-bottom: 2rem;
    width:auto;
    height:auto;

}
.rsk-card-container {
    z-index:1;
    height:auto;
    margin-top:100px;
    margin-bottom:0;
    padding:3.5rem;
    
}

.card-title {text-align:justify;
    }

.card-text-rsk {
    font-size:1.75rem;
    text-align:justify;
   
   
}
.card-text-rsk a[href^="tel"]{ 
    font-size: 1.75rem;
    color:#219739;
    text-decoration:none; 
}

.card-text-rsk a[href^="mailto"]{
    font-size: 1.75rem;
    color:#219739; 
    text-decoration:none; 
}

.card-text-rsk a:hover {
    font-size: 1.75rem;
    color:#fafafa; 
    background-color:#219739; 
    text-decoration:none;
}



/*.rsk-card-container {
    
}*/

.card {
    border: 3px solid #219739;
    padding: 20px;
    margin-bottom: 3rem !important;
 }
}
.card img {
    height: auto;
    width: auto;
    
}
.card-title {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}
.card-text {
    font-size: 2.5rem;
}
.btn {
    min-width: 100px;
    font-size: 2.5rem;
    border-radius: 20px;
}
/*----------------------------------------Contact Form*/
input[type="text"] {
    width: 100%;
    padding: 1.5rem;
    margin: 0;
    font-size:1.15rem;
    display: inline-block;
    border: .25rem solid #219739;
    border-radius: .4rem;
    box-sizing: border-box;
    outline: none;
}

input[type="email"] {
    width: 100%;
    padding: 1.5rem;
    margin: 0;
    font-size:1.15rem;
    display: inline-block;
    border: .25rem solid #219739;
    border-radius: .4rem;
    box-sizing: border-box;
    outline: none;
}

input[type="url"] {
    width: 100%;
    padding: 1.5rem;
    margin: 0;
    font-size:1.15rem;
    display: inline-block;
    border: .25rem solid #219739;
    border-radius: .4rem;
    box-sizing: border-box;
    outline: none;
}
.contact-form {
    background:#212529;
    color:#219739;
    margin-top:5.5rem;
    padding-top:7rem 0 0rem 0;

    box-shadow: 0px 0px 10px 3px grey;
}

.form-control {
    border: .25rem solid #219739;
}

.form-control:focus {
  border-color: yellow;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-details a[href^="tel"]{ 
    font-size: 1.75rem; 
    color:#219739; 
    text-decoration:none; 
}

.contact-details a[href^="mailto"]{
     font-size: 1.75rem;
      color:#219739; 
      text-decoration:none; 
}

.contact-details a:hover {
    font-size: 1.75rem;
    color:#fafafa;
    background-color:#219739;
    text-decoration:none;
 }
.contact-form hr {
    background: white;
}
.contact-form  h1 { 
    text-align: center;
    font-size: 3.25rem;
    padding: 1.5rem;
    }
.contact-form  h2 { 
    text-align: left;
    font-size: 3rem
    }
.contact-form p {
    font-size: 2rem;
}

.form-group label {
    font-size:  1.5rem;
}
.form-group button {
    background-color:#219739;
}
.form-check label  {
    font-size:1rem;
    padding: 0.5rem;
}


.form-check  {
    margin-right: 1.5rem;
}
/*-------------------------------------testimonials*/


.testimonial-container h2{
    font-size:3rem;
    color:#219739;
    text-align:center;
    background-color:transparent;
    padding-top: 2rem;
    padding-bottom: 0;
    width:auto;
    height:auto;
}

.testimonial-container p{
    font-size:1.5rem;
    color:#219739;
    text-align:center;
    background-color:transparent;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width:auto;
    height:auto;
}

.cname {
    font-size:5rem;
}
 /*-----------------------------------------footer*/

 
 
.footer-container {
    background-color:#212529;
    color:#219739;
    min-height:7.5rem;
    margin-top:7.6%;
    margin-bottom:3%;
    padding:2.5rem 0 0 0;
    border-top: 2px solid #219739;
    position:absolute;
    overflow:hidden;
}

#footer-content p {
    font-size:1.25rem;
    color:#219739;
}

.contact {
    text-align:center;
}
.contact p {
    line-height:1;
}

.contact a {
    font-size:1.25rem;
    color: #219739;
}

.contact a:hover {
    background-color: #219739;
    color: #fafafa;
    text-decoration:none;
}
.useful {
    text-align:center;
}

.download {
    text-align:center;
}

.leo i {
    font-size:1.5rem;
    color:#fafafa;
    text-align:center;
    padding-left:0.5rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.leo i:hover {
    color:#219739;
}

.ipn-pdf i {
   font-size:1.5rem;
    color:#fafafa;
    text-align:center;
    padding-left:0.5rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

.ipn-pdf i:hover {
    color:#219739;
}

.social-links {
    padding-bottom: 1.5rem;
    
}
.social-links {
    text-align:center;
}

.social-links li a i {
    width:4rem;
    height:4rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 1.4rem;
    text-align:center;
    color: #fafafa;
    background: #212529;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

.social-links li a i:hover {
    background-color: #219739;
    color: #212529;
}

.copyright {
    font-size: 1rem;
    text-align:center;
    
}

.modal {
    color: black;

}

.btn-modal {
    color: #fafafa;

    font-size: 2rem;
    font-weight: bold;
    background-color: #219739;
    border-radius: 1rem;
    margin-top: 25px;
    height: 4rem;
    width: 30%;
    padding: 0;
    
}

.btn-modal:hover {
    background: #fafafa;
    color: #219739;
}



@media only screen and (max-width: 993px) {
  .card-text {
    font-size: 1.5rem;
  }
  .success-start p {
      font-size: 1.75rem;
  }
  .success-start h2 {
      font-size:3rem;
  }
  .btn {
      font-size:2rem;
    min-width: 125px;
}
.jumbotron {
    margin-top:3rem;
}
.jumbotron-header {
    font-size: 5rem;
}

}
@media screen and (max-width: 480px) {
    .card img {
        margin:0 auto;
    }
    .social-links li a i{text-align:center;}
