@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*use rem not px*/
    /*set global size to 10px for easy rem calc*/
    font-size:10px;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #000;
}
/*-----------------------------------------Nav*/
.navbar-nav a {
    font-size: 2.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #219739;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: whitesmoke;
}
.navbar-toggler {
    right: 15px;
    position: absolute;
    border:none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler-icon{
    font-size: 2rem;
    
}
.navbar-nav > li{
  padding: 0 1.5rem;
}
/*----------------------------------------Video*/
.video-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 98%;
    height: 98%;
    overflow: hidden;
    z-index: -1;
    
}
.video-container video {
    width: 100%;
    height: auto;
    position: absolute;
    
}
/*-----------------------------------------------------------------Jumbotron*/
.callout-container {
    height: 100vh;
    background: url('../images/finalslide.png') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.content-container {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.btn .btn-danger {
    background-color: red;
    border-radius: 20px;
}
/*------------------------------------------Business Builder form*/
input[type=text], select {
    width: 100%;
    padding: 1.2rem 2rem;
    margin: .8rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: .4rem;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049 !important;
}
.form-container-details {
    border-radius: 5px;
    background-color: #f4f4f4 !important;;
    padding: 20px;
}
.form-container-vision {
    border-radius: 5px;
    background-color: #438def !important;;
    padding: 20px;
}
div.container h1, h2 {
    text-align: center;
    color: #219739;
}
/*-----------------------------------------------------Cards*/
.card {
    border: 3px solid #219739;
    padding: 20px;
}
.card img {
    height: auto;
    width: auto;
}
.card-title {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}
.card-text {
    font-size: 2.5rem;
}
.btn {
    min-width: 250px;
    font-size: 2.5rem;
    border-radius: 20px;
}

/* ----------------------------------------Footer */
footer {
    background-color: #212529;
    color: #219739;
    font-size: 4rem;
    min-height: 12rem;
    margin:0;
    padding: 2.5rem 0 0.5rem 0;  
}

#footer-content p {
    font-size: 1.5rem;
}

.useful {
    text-align:center;
}
.leo i {
    font-size: 1.75rem;
    color: #fafafa;
    text-align: center;
    padding-left: 0.5rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.leo i:hover {
    color: #219739;
}


.ipn-pdf i {
    font-size: 1.75rem;
    color: #fafafa;
    text-align: center;
    padding-left: 0.5rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.ipn-pdf i:hover {
    color: #219739;
}
.social-links {
    padding-bottom: 1.5rem;
    float:right;
}
.social-links h3 {
    text-align:center;
}
.social-links li a i {
    width: 4rem;
    height: 4rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 1.4rem;
    text-align: center;
    color: #fafafa;
    background: #212529;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background: #219739;
    color:#212529;
}
.copyright {
    font-size:1.25rem;
    text-align: center;
    padding-top: 2.5rem;
}








 @media screen and (max-width: 993px) {
  .card-text {
    font-size: 2rem;
  }
  .btn {font-size:2rem;
  min-width: 125px;}
}