@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*use rem not px*/
    /*set global size to 10px for easy rem calc*/
    font-size:10px;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #000;
    padding-top:70px;
}
/*-----------------------------------------Nav*/
.navbar-nav a {
    font-size: 2.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #219739;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: whitesmoke;
}
.navbar-toggler {
    right: 15px;
    position: absolute;
    border:none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler-icon{
    font-size: 2rem;
    
}
.navbar-nav > li{
  padding: 0 1.5rem;
}
/*----------------------------------------Video*/
.video-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 98%;
    height: 98%;
    overflow: hidden;
    z-index: -1;
    
}
.video-container video {
    width: 100%;
    height: auto;
    position: absolute;
    
}
.card-container {
    z-index:1;
}

.card-title {text-align:justify;
    }

.card-text-rsk {
    font-size:1.75rem;
    text-align:justify;  
    
}
.card-text-rsk a[href^="tel"]{ font-size: 1.75rem; color:#219739; text-decoration:none; }

.card-text-rsk a[href^="mailto"]{ font-size: 1.75rem; color:#219739; text-decoration:none; }

.card-text-rsk a:hover {font-size: 1.75rem; color:#fafafa; background-color:#219739; text-decoration:none; }





/*-----------------------------------------------------------------Jumbotron*/
.callout-container {
    height: 100vh;
    background: url('../images/insidepharmacytiny.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron-header {
    font-size: 5rem;
}

.lead {
    font-size: 2.5rem;
    font-weight: 400;
}

.urgent {
    font-size: 2rem;
    color:red;
}
.content-container {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.btn .btn-danger {
    
    border-radius: 2rem;
}


/*------------------------------------------Business Builder form*/

.business-builder h1 {
    color:#219739;
    text-align:center;
}
input[type=text], select {
    width: 100%;
    padding: 1.2rem 2rem;
    margin: .8rem 0;
    display: inline-block;
    border: 0.1px solid #ccc;
    border-radius: .4rem;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1.4rem 22px;
    margin: 0.8px 0;
    border: none;
    border-radius: 0.4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049 !important;
}
.form-container-details {
    border-radius: 5px;
    background-color: #f4f4f4 !important;
    padding: 20px;
}
.form-container-vision {
    border-radius: 5px;
    background-color: #438def !important;
    padding: 20px;
}

.form-container-people {border-radius: 5px;
    background-color: #fbfb37 !important;
    padding: 20px;}
.form-container-marketing {border-radius: 5px;
    background-color: #fb8037 !important;;
    padding: 20px;}
.form-container-customers {border-radius: 5px;
    background-color: #ef43af !important;;
    padding: 20px;}
.form-container-profit {border-radius: 5px;
    background-color:  #50ec20!important;;
    padding: 20px;}
.form-container-systems {border-radius: 5px;
    background-color: #20b7ec !important;;
    padding: 20px;}
div.container h1, h2 {
    text-align: center;
    color: #219739;
}
/*-----------------------------------------------------Cards*/
.card-container {
    margin-top:100px;
}

.card {
    border: 3px solid #219739;
    padding: 20px;
}
.card img {
    height: auto;
    width: auto;
}
.card-title {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}
.card-text {
    font-size: 2.5rem;
}
.btn {
    min-width: 250px;
    font-size: 2.5rem;
    border-radius: 20px;
}
/*----------------------------------------Contact Form*/

.contact-form {
    background:#212529;
    color:#219739;
    margin-top:7.5%;
    margin-bottom:3.7%;
    
    padding:2rem;
    box-shadow: 0px 0px 10px 3px grey;
}

.contact-details a[href^="tel"]{ font-size: 1.75rem; color:#219739; text-decoration:none; }

.contact-details a[href^="mailto"]{ font-size: 1.75rem; color:#219739; text-decoration:none; }

.contact-details a:hover {font-size: 1.75rem; color:#fafafa; background-color:#219739; text-decoration:none; }
.contact-form hr {
    background: white;
}

.contact-form  h2 { 
    text-align: left;
    font-size: 4rem
    }
.contact-form p {
    font-size: 2rem;
}

.form-group label {
    font-size:  1.5rem;
}
.form-group button {
    background-color:#219739;
}
.form-check label  {
    font-size:1rem;
    padding: 0.5rem;
}

.form-check  {
    margin-right 1.5rem;
}
 /*-----------------------------------------footer*/

 
 
.footer-container {
    background-color:#212529;
    color:#219739;
    height:15rem;
    margin:0;
    padding:2.5rem 0 0.5rem 0;
    overflow:hidden;
}

#footer-content p {
    font-size:1.25rem;
    color:#219739;
}

.useful {
    text-align:center;
}

.leo i {
    font-size:1.5rem;
    color:#fafafa;
    text-align:center;
    padding-left:0.5rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.leo i:hover {
    color:#219739;
}

.ipn-pdf i {
   font-size:1.5rem;
    color:#fafafa;
    text-align:center;
    padding-left:0.5rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

.ipn-pdf i:hover {
    color:#219739;
}

.social-links {
    padding-bottom: 1.5rem;
    float:right;
}
.social-links h3{
    text-align:center;
}

.social-links li a i {
    width:4rem;
    height:4rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 1.4rem;
    text-align: center;
    color: #fafafa;
    background: #212529;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

.social-links li a i:hover {
    background-color: #219739;
    color: #212529;
}

.copyright {
    font-size: 1rem;
    text-align:center;
    
}

@media screen and (min-width: 993px) {
  .card-text {
    font-size: 2rem;
  }
  .btn {font-size:2rem;
  min-width: 125px;}
}

@media screen and (min-width: 480px) {
    .card img {
        margin:0 auto;
    }

    /*.footer-content {
        font-size:50%
    }*/
    